body {
  height: 100vh;
  display: flex;
  /* TODO: Adjust CSS so that form is centered on page */
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 2rem;
  border-radius: 2rem;
}

form > img {
  margin: auto;
}

label {
  text-align: left;
  width: 100%;
  padding: 1rem 0 0 0;
}

input {
  width: 100%;
  padding: 2px 5px;
  margin: 3px;
  border: 2px solid black;
  border-radius: 3px;
}

button {
  margin: 1rem 0 0 0;
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
  background-color: white;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#success-message {
  color: green;
}

#error-message {
  color: red;
}
